target/
test-output/

reports/allure-results/*
reports/allure-report/*
!reports/allure-results/.gitkeep
!reports/allure-report/.gitkeep

logs/*.log
logs/*.log.*
!logs/.gitkeep

screenshots/passed/*
screenshots/failed/*
screenshots/skipped/*
!screenshots/passed/.gitkeep
!screenshots/failed/.gitkeep
!screenshots/skipped/.gitkeep

drivers/*
!drivers/.gitkeep

.classpath
.project
.settings/
.idea/
*.iml
*.tmp
*.bak
